@model IEnumerable<RottenPotatoes.Models.Movie>;
@{
    List<Movie> movies = (List<Movie>)Model;
}


<div class="container mt-5">
    <div class="table-responsive">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Production Date</th>
                    <th>Director</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in movies)
                {
                    <tr>
                        <td>
                            <form asp-action="Details" asp-route-id="@movie.Movie_ID" method="get" class="d-inline">
                                <button type="submit" class="btn btn-sm btn-primary me-1">Details</button>
                            </form>
                        </td>
                        <td>@movie.Title</td>
                        <td>@movie.Production_Date</td>                            
                        <td>@movie.Director</td>
                        @* <td>
                                <form asp-action="Edit" asp-route-id="@movie.Movie_ID" method="get" class="d-inline">
                                    <button type="submit" class="btn btn-sm btn-primary me-1">Edit</button>
                                </form>
                        </td> *@
                        <td>
                                <form asp-action="AddToWatchlist" asp-route-id="@movie.Movie_ID" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-sm btn-primary me-1">Add To Watchlist</button>
                                </form>
                        </td>
                        @* <td>
                                <form asp-action="Delete" asp-route-id="@movie.Movie_ID" method="post" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this movie?');">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                        </td> *@
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>