@model Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Production_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenWriter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenWriter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        @if (Model.Reviews?.Any() == true)
        {
            @foreach(var item in Model.Reviews)
            {
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.Description)
                </dt>
                <dt class = "col-sm-10">
                    @Html.DisplayFor(modelItem => item.Description)
                </dt>
                <dt class= "col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.Rating)
                </dt>
                <dt class= "col-sm-2">
                    @Html.DisplayFor(modelItem => item.Rating)
                </dt>
            }
        }
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Movie_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
